.hero
  height: 698px
  width: 1398px
  margin-bottom: 2px
  display: flex

  .hero-contact
    height: 100%
    width: 1050px
    background-image: url('img/maxresdefault.jpg')
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    text-align: center
    padding: 185px 116px

    .title
      background-color: rgba(74, 74 , 74, .5)
      padding: 28px 48px
      color: $light
      margin-bottom: 100px

      h1
        font-size: 1.875rem
        font-weight: 700
        text-transform: uppercase
        letter-spacing: 3.5px
        line-height: 35px
        margin: 0 0 50px

      h2
        font-size: 1.25rem
        font-weight: 500
        text-transform: uppercase
        letter-spacing: 2.35px
        line-height: 24px
        margin: 0

    a
      margin-right: calc(-665px)
