<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <base href="/"/>
    <title>Welcome Homes</title>

    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <!-- inject:css -->
    <link rel="stylesheet" href="../dist/index.css">
    <!-- endinject -->

  </head>
  <body ng-app="homesApp">
    <div class="container">
      <header>
        <a href="#" class="logo-link"><img src="dist/img/logo.svg" alt="logo-acme" class="logo"/></a>
        <div class="nav">
          <a href="#" class="nav-item">About</a>
          <a href="#" class="nav-item">Areas</a>
          <a href="#" class="nav-item">Contact</a>
        </div>
        <a href="#" class="btn btn-login">Admin</a>
      </header>
      <main ng-view="">
      </main>
      <footer>
        <img src="dist/img/logo_dark.svg" alt="logo-acme" class="logo"/>
        <p>
          Av. de Gran Canaria, 38 - 35100 San Bartolomé de Tirajana - Las Palmas
        </p>
        <div class="socials">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-envelope"></i></a>
        </div>
      </footer>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>

    <!-- inject:js -->
    <script src="../dist/app.min.js"></script>
    <!-- endinject -->

  </body>
</html>
