<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <base href="/"/>
    <title>Welcome Homes</title>

    <!-- inject:css -->
    <link rel="stylesheet" href="../dist/index.css">
    <!-- endinject -->

  </head>
  <body ng-app="homesApp">
    <navbar></navbar>
    <main ng-view="">
    </main>
    <footer></footer>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>

    <!-- inject:js -->
    <script src="../dist/app.min.js"></script>
    <!-- endinject -->

  </body>
</html>
